<ul id="header" class="nav nav-pills">
        <li class="nav-item">
          <button id="navButton"><span class="material-icons">
            menu
            </span></button>
          </li>
      </ul>