<ul id="navbar" class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" style="color: white; font-weight: bold;" href="/books">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; font-weight: bold;" href="/bookspot">FIND</a>
        </li>
        <li class="nav-item">
        <a class="btn btn-success" href="/books/new-book">New Book +</a>
        </li>
      </ul>