<div class="content">
    <ul>
    <li class="nav-item">
        <a class="nav-link" onclick="navState(event, 'home')" style="color: white; font-weight: bold; letter-spacing: 1px;" href="/books">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="navState(event, 'find')" style="color: white; font-weight: bold; letter-spacing: 1px;" href="/bookspot">FIND</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" onclick="navState(event, 'newbook')" style="color: white; font-weight: bold; letter-spacing: 1px;" href="/books/new-book">NEW BOOK</a>
      </li>
    </ul>
</div>
