<html>
  <head>
    <title>Books API Example</title>
    <%- include('../views/partials/head'); -%>
  </head>
  <body>
    <%- include('../views/partials/nav'); -%>

    

    <div id="content">
      <form action="/bookspot" style="margin-top: 5em;">
        <label for="search">Search Books</label>
        <input type="text" id="search" name="bookName">
        <br>
        <input type="submit">
      </form>

    </div>
    <script>
      function handleResponse(response) {
      for (var i = 0; i < response.items.length; i++) {
        var item = response.items[i];
        // in production code, item.text should have the HTML entities escaped.
        document.getElementById("content").innerHTML += "<br>" + item.volumeInfo.title;
      }
    }
    </script>

    <script src="<%= fullString %>"></script>
  </body>
</html>

