<html>
  <head>
    <title>Books API Example</title>
    <%- include('../views/partials/head'); -%>
  </head>
  <body>
    <%- include('../views/partials/nav'); -%>

    <main>
        <form action="/bookspot/" style="margin-top: 5em;" method="GET">
          <label for="search">Search Books</label>
          <input type="text" id="search" name="q">
          <br>
          <input type="submit">
        </form>

      <div class="card">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h2 class="card-title"></h2>
            <p> <span>Auteur:</span><%= apiData.location %></p>
            <p> <span>Pages:</span> </p>
            <p> <span>Price:</span></p>
          </div>
        </div>
    </main>
    <%- include('../views/partials/footer'); -%>
  </body>
</html>

