<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <!-- <form action="/books/new-book/upload" enctype="multipart/form-data" method="POST">
            <input type="file" class="admin__input" id="myFile" name="myFile" />
            <input class="admin__submit" type="submit" />
          </form> -->
    </main>

    <img src="" alt="">
</body>
</html>