<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body>
    <%- include('../views/partials/nav'); -%>
    <main>
        <nav>
        <h1>my ToDoo's</h1>
        <a href=""><span class="material-icons-round">
            add_circle_outline
            </span>
        </nav>
    </main>
    
</body>
</html>