<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body class="text-blue-700">
    <%- include('../views/partials/nav'); -%>
    <main>
        <div class="list-container">
    <% allBooks.forEach(function(Book){ %>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title"><%= Book.title %></h2>
              <small class="form-text text-muted"><%= Book.auteur %></small>
              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <% }); %>
        </div>

        <!-- <a href="/books/">
            <article>
                <div class="content-container">
                <p 
                style="font-style: italic; 
                font-size: .8em;">datum</p>
                
                <h1 style="font-size: 2em;
                margin: .2em 0 .2em 0;"></h1>
               <hr>
                <table>
                    <tr class="column-titles">
                        <th>Auteur</th>
                        <th>Pages</th>
                        <th>Price</th>
                    </tr>
                    <tr class="column-info">
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
                </div>
            </article>
            </a> -->
        

    </main>
    
</body>
</html>